ARM Files/Template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "storageAccountName": {
            "type": "String"
        },       
        "cosmosDBAccountName": {
            "type": "String"
        },        
        
        "cognitiveServiceName": {
            "type": "String"
        },
          "accountSasProperties": {
            "type": "object",
            "metadata" : {
                "description": "Don't change these values"
            },
            "defaultValue": {
                "signedServices": "b",
                "signedPermission": "r",
                "signedExpiry": "2038-08-20T11:00:00Z",
                "signedResourceTypes": "o"
            }
        }
    },

    "variables": {
        "location": "[resourceGroup().location]",
        "tenanId": "[subscription().tenantId]",
        "subscriptionId": "[subscription().subscriptionId]",
        "storageAccountNameLowerCase" : "[toLower(trim(parameters('storageAccountName')))]",
        "cosmosAccountNameLowerCase" : "[toLower(trim(parameters('cosmosDBAccountName')))]",
        "cognitiveAccountNameLowerCase" : "[toLower(trim(parameters('cognitiveServiceName')))]",        
        "connections_azureblob_name":   "azureblob",
        "connections_documentdb_name": "documentdb",
        "storageAccountApiVersion": "[providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]]",
        "cosmosAPIVersion":"[providers('Microsoft.DocumentDB', 'databaseAccounts').apiVersions[0]]",
        "workflows_DemoLogicApp_name": "DemoLogicApp",
        "speechAPIVersion": "[providers('Microsoft.CognitiveServices', 'accounts').apiVersions[0]]",
        "webAPIVersion": "[providers('Microsoft.Web','connections').apiVersions[0]]",
        "logicAppAPIVersion": "[ providers('Microsoft.Logic','workflows').apiVersions[0]]"     


    },
    "resources": [
{
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "[variables('storageAccountApiVersion')]",
            "name": "[variables('storageAccountNameLowerCase')]",
            "location": "[variables('location')]",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "[variables('storageAccountApiVersion')]",
            "name": "[concat(variables('storageAccountNameLowerCase'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountNameLowerCase'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "[variables('storageAccountApiVersion')]",
            "name": "[concat(variables('storageAccountNameLowerCase'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountNameLowerCase'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "[variables('storageAccountApiVersion')]",
            "name": "[concat(variables('storageAccountNameLowerCase'), '/default/audiofiles')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('storageAccountNameLowerCase'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountNameLowerCase'))]"
            ],
            "properties": {
               
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "apiVersion": "[variables('cosmosAPIVersion')]",
            "name": "[variables('cosmosAccountNameLowerCase')]",
            "location": "[variables('location')]",
            "tags": {
                "defaultExperience": "Core (SQL)",
                "hidden-cosmos-mmspecial": "",
                "CosmosAccountType": "Non-Production"
            },
            "kind": "GlobalDocumentDB",
            "properties": {
                "publicNetworkAccess": "Enabled",
                "enableAutomaticFailover": false,
                "enableMultipleWriteLocations": false,
                "isVirtualNetworkFilterEnabled": false,
                "virtualNetworkRules": [],
                "disableKeyBasedMetadataWriteAccess": false,
                "databaseAccountOfferType": "Standard",
                "consistencyPolicy": {
                    "defaultConsistencyLevel": "Session",
                    "maxIntervalInSeconds": 5,
                    "maxStalenessPrefix": 100
                }
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
            "apiVersion": "[variables('cosmosAPIVersion')]",
            "name": "[concat(variables('cosmosAccountNameLowerCase'), '/SpeechToTextDB')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', variables('cosmosAccountNameLowerCase'))]"
            ],
            "properties": {
                "resource": {
                    "id": "SpeechToTextDB"
                },
                "options": {}
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
            "apiVersion": "[variables('cosmosAPIVersion')]",
            "name": "[concat(variables('cosmosAccountNameLowerCase'), '/SpeechToTextDB/SpeechData')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', variables('cosmosAccountNameLowerCase'), 'SpeechToTextDB')]",
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', variables('cosmosAccountNameLowerCase'))]"
            ],
            "properties": {
                "resource": {
                    "id": "SpeechData",
                    "indexingPolicy": {
                        "indexingMode": "consistent",
                        "automatic": true,
                        "includedPaths": [
                            {
                                "path": "/*"
                            }
                        ],
                        "excludedPaths": [
                            {
                                "path": "/\"_etag\"/?"
                            }
                        ]
                    },
                    "partitionKey": {
                        "paths": [
                            "/MyDate"
                        ],
                        "kind": "Hash"
                    },
                    "conflictResolutionPolicy": {
                        "mode": "LastWriterWins",
                        "conflictResolutionPath": "/_ts"
                    }
                },
                "options": {}
            }
        },
        

        {
            "type": "Microsoft.CognitiveServices/accounts",
            "apiVersion": "[variables('speechAPIVersion')]",
            "name": "[variables('cognitiveAccountNameLowerCase')]",
            "location": "[variables('location')]",
            "sku": {
                "name": "S0"
            },
            "kind": "SpeechServices",
            "properties": {}
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "[variables('webAPIVersion')]",
            "name": "[variables('connections_azureblob_name')]",
            "location": "[variables('location')]",
            "properties": {
                "displayName": "AudioFile",
                 "parameterValues": {
                    "accountName": "[variables('storageAccountNameLowerCase')]",
                    "accessKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountNameLowerCase')), variables('storageAccountApiVersion')).keys[0].value]"
                 },
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',variables('subscriptionId'),'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/', variables('connections_azureblob_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "[variables('webAPIVersion')]",
            "name": "[variables('connections_documentdb_name')]",
            "location": "[variables('location')]",
            "properties": {
                "displayName": "DemoSpeech_ComosConnection",
                "parameterValues": {
                    "databaseAccount": "[variables('cosmosAccountNameLowerCase')]",
                    "accessKey": "[listKeys(resourceId('Microsoft.DocumentDB/databaseAccounts', variables('cosmosAccountNameLowerCase')), variables('cosmosAPIVersion')).primaryMasterKey]"
                 },
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',variables('subscriptionId'),'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/', variables('connections_documentdb_name'))]"
                }
            }
        },
        {
           "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('workflows_DemoLogicApp_name')]",
            "location": "canadacentral",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('connections_azureblob_name'))]",
                "[resourceId('Microsoft.Web/connections', variables('connections_documentdb_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "CognitiveSecret": {
                            "defaultValue": "[listKeys(resourceId('Microsoft.CognitiveServices/accounts/', variables('cognitiveAccountNameLowerCase')), variables('SpeechAPIVersion')).key1]",
                            "type": "String"
                        },
                        "SASToken": {
                            "defaultValue": "[concat('?',listAccountSas(variables('storageAccountNameLowerCase'), variables('storageAccountApiVersion'), parameters('accountSasProperties')).accountSasToken)]",
                            "type": "String"
                        },
                        "azureRegion": {
                            "defaultValue": "[variables('location')]",
                            "type": "String"
                        },
                        "storageAccountName": {
                            "defaultValue": "[variables('storageAccountNameLowerCase')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_blob_is_added_or_modified_(properties_only)": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 5
                            },
                            "splitOn": "@triggerBody()",
                            "metadata": {
                                "JTJmYXVkaW9maWxlcw==": "/audiofiles"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/batch/onupdatedfile",
                                "queries": {
                                    "folderId": "JTJmYXVkaW9maWxlcw==",
                                    "maxFileCount": 10
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": {
                                "description": "La description est optionnelle",
                                "locale": "en-US",
                                "name": "transcription-batch",
                                "properties": {
                                    "AddSentiment": "True",
                                    "AddWordLevelTimestamps": "True",
                                    "ProfanityFilterMode": "Masked",
                                    "PunctuationMode": "DictatedAndAutomatic"
                                },
                                "recordingsUrl": "@concat('https://',parameters('storageAccountName'),'.blob.core.windows.net',triggerBody()?['Path'],parameters('SASToken'))"
                            }
                        },
                        "HTTP_2": {
                            "runAfter": {
                                "Test_if_channel_0_is_not_empty": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "Ocp-Apim-Subscription-Key": "@parameters('CognitiveSecret')"
                                },
                                "method": "DELETE",
                                "uri": "@{concat('https://',parameters('azureRegion'),'.cris.ai/api/speechtotext/v2.0/Transcriptions/',body('Parse_transcription_ID_and_result_URL')?['id'])}"
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {
                                "Until": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_from_API')",
                                "schema": {
                                    "properties": {
                                        "createdDateTime": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "lastActionDateTime": {
                                            "type": "string"
                                        },
                                        "locale": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "recordingsUrl": {
                                            "type": "string"
                                        },
                                        "reportFileUrl": {
                                            "type": "string"
                                        },
                                        "resultsUrls": {
                                            "properties": {
                                                "channel_0": {
                                                    "type": "string"
                                                },
                                                "channel_1": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_transcription_ID_and_result_URL": {
                            "runAfter": {
                                "Post_to_cognitive_service": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Post_to_cognitive_service')",
                                "schema": {
                                    "properties": {
                                        "createdDateTime": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "lastActionDateTime": {
                                            "type": "string"
                                        },
                                        "recordingsUrl": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Post_to_cognitive_service": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "headers": {
                                    "Content-Type   ": "application/json",
                                    "Ocp-Apim-Subscription-Key": "@parameters('CognitiveSecret')"
                                },
                                "method": "POST",
                                "uri": "@{concat('https://',parameters('azureRegion'),'.cris.ai/api/speechtotext/v2.0/Transcriptions')}"
                            }
                        },
                        "Test_if_channel_0_is_not_empty": {
                            "actions": {
                                "Compose_document_with_channel_0_and_1": {
                                    "runAfter": {
                                        "Parse_Channel_1": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "AudioDetails": [
                                            {
                                                "Channel_0": "@body('Parse_Channel_0')",
                                                "Channel_1": "@body('Parse_Channel_1')"
                                            }
                                        ],
                                        "AudioLink": "@{body('Parse_transcription_ID_and_result_URL')['recordingsUrl']}",
                                        "Date": "@{utcNow()}",
                                        "Language": "English",
                                        "MyDate": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                                        "id": "@{body('Parse_transcription_ID_and_result_URL')?['id']}"
                                    }
                                },
                                "Create_or_update_document_2": {
                                    "runAfter": {
                                        "Parse_document_with_channel_0_and_1": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@body('Parse_document_with_channel_0_and_1')",
                                        "headers": {
                                            "x-ms-documentdb-raw-partitionkey": "\"@{body('Parse_document_with_channel_0_and_1')?['MyDate']}\""
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['documentdb']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/dbs/@{encodeURIComponent('SpeechToTextDB')}/colls/@{encodeURIComponent('SpeechData')}/docs"
                                    }
                                },
                                "Get_channel_0_results": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@body('Parse_JSON_2')?['resultsUrls']?['channel_0']"
                                    }
                                },
                                "Get_channel_1_results": {
                                    "runAfter": {
                                        "Parse_Channel_0": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@body('Parse_JSON_2')?['resultsUrls']?['channel_1']"
                                    }
                                },
                                "Parse_Channel_0": {
                                    "runAfter": {
                                        "Get_channel_0_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_channel_0_results')",
                                        "schema": {                                        
                                            "properties": {
                                                "AudioFileResults": {
                                                    "items": {
                                                        "properties": {
                                                            "AudioFileName": {
                                                                "type": "string"
                                                            },
                                                            "AudioFileUrl": {},
                                                            "AudioLengthInSeconds": {
                                                                "type": "number"
                                                            },
                                                            "CombinedResults": {
                                                                "items": {
                                                                    "properties": {
                                                                        "ChannelNumber": {},
                                                                        "Display": {
                                                                            "type": "string"
                                                                        },
                                                                        "ITN": {
                                                                            "type": "string"
                                                                        },
                                                                        "Lexical": {
                                                                            "type": "string"
                                                                        },
                                                                        "MaskedITN": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "ChannelNumber",
                                                                        "Lexical",
                                                                        "ITN",
                                                                        "MaskedITN",
                                                                        "Display"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "SegmentResults": {
                                                                "items": {
                                                                    "properties": {
                                                                        "ChannelNumber": {},
                                                                        "Duration": {
                                                                            "type": "integer"
                                                                        },
                                                                        "DurationInSeconds": {
                                                                            "type": "number"
                                                                        },
                                                                        "NBest": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "Confidence": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "Display": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "ITN": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "Lexical": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "MaskedITN": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "Sentiment": {
                                                                                        "properties": {
                                                                                            "Negative": {
                                                                                                "type": "number"
                                                                                            },
                                                                                            "Neutral": {
                                                                                                "type": "number"
                                                                                            },
                                                                                            "Positive": {
                                                                                                "type": "number"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "Words": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "Confidence": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "Duration": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "DurationInSeconds": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "Offset": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "OffsetInSeconds": {
                                                                                                    "type": "number"
                                                                                                },
                                                                                                "Word": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "Word",
                                                                                                "Offset",
                                                                                                "Duration",
                                                                                                "OffsetInSeconds",
                                                                                                "DurationInSeconds",
                                                                                                "Confidence"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "Confidence",
                                                                                    "Lexical",
                                                                                    "ITN",
                                                                                    "MaskedITN",
                                                                                    "Display",
                                                                                    "Sentiment",
                                                                                    "Words"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "Offset": {
                                                                            "type": "integer"
                                                                        },
                                                                        "OffsetInSeconds": {
                                                                            "type": "number"
                                                                        },
                                                                        "RecognitionStatus": {
                                                                            "type": "string"
                                                                        },
                                                                        "SpeakerId": {}
                                                                    },
                                                                    "required": [
                                                                        "RecognitionStatus",
                                                                        "ChannelNumber",
                                                                        "SpeakerId",
                                                                        "Offset",
                                                                        "Duration",
                                                                        "OffsetInSeconds",
                                                                        "DurationInSeconds",
                                                                        "NBest"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "AudioFileName",
                                                            "AudioFileUrl",
                                                            "AudioLengthInSeconds",
                                                            "CombinedResults",
                                                            "SegmentResults"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Parse_Channel_1": {
                                    "runAfter": {
                                        "Get_channel_1_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_channel_1_results')",
                                        "schema": {
                                            "properties": {
                                                "AudioFileResults": {
                                                    "items": {
                                                        "properties": {
                                                            "AudioFileName": {
                                                                "type": "string"
                                                            },
                                                            "AudioFileUrl": {},
                                                            "AudioLengthInSeconds": {
                                                                "type": "number"
                                                            },
                                                            "CombinedResults": {
                                                                "items": {
                                                                    "properties": {
                                                                        "ChannelNumber": {},
                                                                        "Display": {
                                                                            "type": "string"
                                                                        },
                                                                        "ITN": {
                                                                            "type": "string"
                                                                        },
                                                                        "Lexical": {
                                                                            "type": "string"
                                                                        },
                                                                        "MaskedITN": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "ChannelNumber",
                                                                        "Lexical",
                                                                        "ITN",
                                                                        "MaskedITN",
                                                                        "Display"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "SegmentResults": {
                                                                "items": {
                                                                    "properties": {
                                                                        "ChannelNumber": {},
                                                                        "Duration": {
                                                                            "type": "integer"
                                                                        },
                                                                        "DurationInSeconds": {
                                                                            "type": "number"
                                                                        },
                                                                        "NBest": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "Confidence": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "Display": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "ITN": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "Lexical": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "MaskedITN": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "Sentiment": {
                                                                                        "properties": {
                                                                                            "Negative": {
                                                                                                "type": "number"
                                                                                            },
                                                                                            "Neutral": {
                                                                                                "type": "number"
                                                                                            },
                                                                                            "Positive": {
                                                                                                "type": "number"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "Words": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "Confidence": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "Duration": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "DurationInSeconds": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "Offset": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "OffsetInSeconds": {
                                                                                                    "type": "number"
                                                                                                },
                                                                                                "Word": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "Word",
                                                                                                "Offset",
                                                                                                "Duration",
                                                                                                "OffsetInSeconds",
                                                                                                "DurationInSeconds",
                                                                                                "Confidence"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "Confidence",
                                                                                    "Lexical",
                                                                                    "ITN",
                                                                                    "MaskedITN",
                                                                                    "Display",
                                                                                    "Sentiment",
                                                                                    "Words"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "Offset": {
                                                                            "type": "integer"
                                                                        },
                                                                        "OffsetInSeconds": {
                                                                            "type": "number"
                                                                        },
                                                                        "RecognitionStatus": {
                                                                            "type": "string"
                                                                        },
                                                                        "SpeakerId": {}
                                                                    },
                                                                    "required": [
                                                                        "RecognitionStatus",
                                                                        "ChannelNumber",
                                                                        "SpeakerId",
                                                                        "Offset",
                                                                        "Duration",
                                                                        "OffsetInSeconds",
                                                                        "DurationInSeconds",
                                                                        "NBest"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "AudioFileName",
                                                            "AudioFileUrl",
                                                            "AudioLengthInSeconds",
                                                            "CombinedResults",
                                                            "SegmentResults"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Parse_document_with_channel_0_and_1": {
                                    "runAfter": {
                                        "Compose_document_with_channel_0_and_1": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@outputs('Compose_document_with_channel_0_and_1')",
                                        "schema": {
                                            "properties": {
                                                "AudioDetails": {
                                                    "items": {
                                                        "properties": {
                                                            "Channel_0": {
                                                                "properties": {
                                                                    "AudioFileResults": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "AudioFileName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "AudioFileUrl": {},
                                                                                "SegmentResults": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "ChannelNumber": {},
                                                                                            "Duration": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "NBest": {
                                                                                                "items": {
                                                                                                    "properties": {
                                                                                                        "Confidence": {
                                                                                                            "type": "number"
                                                                                                        },
                                                                                                        "Display": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "ITN": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "Lexical": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "MaskedITN": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "Words": {
                                                                                                            "items": {
                                                                                                                "properties": {
                                                                                                                    "Duration": {
                                                                                                                        "type": "integer"
                                                                                                                    },
                                                                                                                    "Offset": {
                                                                                                                        "type": "integer"
                                                                                                                    },
                                                                                                                    "Word": {
                                                                                                                        "type": "string"
                                                                                                                    }
                                                                                                                },
                                                                                                                "required": [
                                                                                                                    "Word",
                                                                                                                    "Offset",
                                                                                                                    "Duration"
                                                                                                                ],
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "type": "array"
                                                                                                        }
                                                                                                    },
                                                                                                    "required": [
                                                                                                        "Confidence",
                                                                                                        "Lexical",
                                                                                                        "ITN",
                                                                                                        "MaskedITN",
                                                                                                        "Display",
                                                                                                        "Words"
                                                                                                    ],
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": "array"
                                                                                            },
                                                                                            "Offset": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "RecognitionStatus": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "SpeakerId": {}
                                                                                        },
                                                                                        "required": [
                                                                                            "RecognitionStatus",
                                                                                            "ChannelNumber",
                                                                                            "SpeakerId",
                                                                                            "Offset",
                                                                                            "Duration",
                                                                                            "NBest"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "AudioFileName",
                                                                                "AudioFileUrl",
                                                                                "SegmentResults"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Channel_1": {
                                                                "properties": {
                                                                    "AudioFileResults": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "AudioFileName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "AudioFileUrl": {},
                                                                                "SegmentResults": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "ChannelNumber": {},
                                                                                            "Duration": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "NBest": {
                                                                                                "items": {
                                                                                                    "properties": {
                                                                                                        "Confidence": {
                                                                                                            "type": "number"
                                                                                                        },
                                                                                                        "Display": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "ITN": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "Lexical": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "MaskedITN": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "Words": {
                                                                                                            "items": {
                                                                                                                "properties": {
                                                                                                                    "Duration": {
                                                                                                                        "type": "integer"
                                                                                                                    },
                                                                                                                    "Offset": {
                                                                                                                        "type": "integer"
                                                                                                                    },
                                                                                                                    "Word": {
                                                                                                                        "type": "string"
                                                                                                                    }
                                                                                                                },
                                                                                                                "required": [
                                                                                                                    "Word",
                                                                                                                    "Offset",
                                                                                                                    "Duration"
                                                                                                                ],
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "type": "array"
                                                                                                        }
                                                                                                    },
                                                                                                    "required": [
                                                                                                        "Confidence",
                                                                                                        "Lexical",
                                                                                                        "ITN",
                                                                                                        "MaskedITN",
                                                                                                        "Display",
                                                                                                        "Words"
                                                                                                    ],
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": "array"
                                                                                            },
                                                                                            "Offset": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "RecognitionStatus": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "SpeakerId": {}
                                                                                        },
                                                                                        "required": [
                                                                                            "RecognitionStatus",
                                                                                            "ChannelNumber",
                                                                                            "SpeakerId",
                                                                                            "Offset",
                                                                                            "Duration",
                                                                                            "NBest"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "AudioFileName",
                                                                                "AudioFileUrl",
                                                                                "SegmentResults"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "Channel_0",
                                                            "Channel_1"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "AudioLink": {
                                                    "type": "string"
                                                },
                                                "Date": {
                                                    "type": "string"
                                                },
                                                "Language": {
                                                    "type": "string"
                                                },
                                                "MyDate": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "Compose_for_only_channel_0": {
                                                "runAfter": {
                                                    "Parse_only_channel_0": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Compose",
                                                "inputs": {
                                                    "AudioDetails": [
                                                        {
                                                            "Channel_0": "@body('Parse_only_channel_0')"
                                                        }
                                                    ],
                                                    "AudioLink": "@{body('Parse_transcription_ID_and_result_URL')['recordingsUrl']}",
                                                    "Date": "@{utcNow()}",
                                                    "Language": "English",
                                                    "MyDate": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                                                    "id": "@{body('Parse_transcription_ID_and_result_URL')?['id']}"
                                                }
                                            },
                                            "Create_document_for_channel_0": {
                                                "runAfter": {
                                                    "Parse_document_for_Channel_0": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@body('Parse_document_for_Channel_0')",
                                                    "headers": {
                                                        "x-ms-documentdb-raw-partitionkey": "\"@{body('Parse_document_for_Channel_0')?['MyDate']}\""
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/dbs/@{encodeURIComponent('SpeechToTextDB')}/colls/@{encodeURIComponent('SpeechData')}/docs"
                                                }
                                            },
                                            "Get_only_channel_0_results": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "method": "GET",
                                                    "uri": "@body('Parse_JSON_2')?['resultsUrls']?['channel_0']"
                                                }
                                            },
                                            "Parse_document_for_Channel_0": {
                                                "runAfter": {
                                                    "Compose_for_only_channel_0": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@outputs('Compose_for_only_channel_0')",
                                                    "schema": {
                                                        "properties": {
                                                            "AudioDetails": {
                                                                "items": {
                                                                    "properties": {
                                                                        "Channel_0": {
                                                                            "properties": {
                                                                                "AudioFileResults": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "AudioFileName": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "AudioFileUrl": {},
                                                                                            "SegmentResults": {
                                                                                                "items": {
                                                                                                    "properties": {
                                                                                                        "ChannelNumber": {},
                                                                                                        "Duration": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "NBest": {
                                                                                                            "items": {
                                                                                                                "properties": {
                                                                                                                    "Confidence": {
                                                                                                                        "type": "number"
                                                                                                                    },
                                                                                                                    "Display": {
                                                                                                                        "type": "string"
                                                                                                                    },
                                                                                                                    "ITN": {
                                                                                                                        "type": "string"
                                                                                                                    },
                                                                                                                    "Lexical": {
                                                                                                                        "type": "string"
                                                                                                                    },
                                                                                                                    "MaskedITN": {
                                                                                                                        "type": "string"
                                                                                                                    },
                                                                                                                    "Words": {
                                                                                                                        "items": {
                                                                                                                            "properties": {
                                                                                                                                "Duration": {
                                                                                                                                    "type": "integer"
                                                                                                                                },
                                                                                                                                "Offset": {
                                                                                                                                    "type": "integer"
                                                                                                                                },
                                                                                                                                "Word": {
                                                                                                                                    "type": "string"
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "required": [
                                                                                                                                "Word",
                                                                                                                                "Offset",
                                                                                                                                "Duration"
                                                                                                                            ],
                                                                                                                            "type": "object"
                                                                                                                        },
                                                                                                                        "type": "array"
                                                                                                                    }
                                                                                                                },
                                                                                                                "required": [
                                                                                                                    "Confidence",
                                                                                                                    "Lexical",
                                                                                                                    "ITN",
                                                                                                                    "MaskedITN",
                                                                                                                    "Display",
                                                                                                                    "Words"
                                                                                                                ],
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "type": "array"
                                                                                                        },
                                                                                                        "Offset": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "RecognitionStatus": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "SpeakerId": {}
                                                                                                    },
                                                                                                    "required": [
                                                                                                        "RecognitionStatus",
                                                                                                        "ChannelNumber",
                                                                                                        "SpeakerId",
                                                                                                        "Offset",
                                                                                                        "Duration",
                                                                                                        "NBest"
                                                                                                    ],
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": "array"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "AudioFileName",
                                                                                            "AudioFileUrl",
                                                                                            "SegmentResults"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Channel_0"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "AudioLink": {
                                                                "type": "string"
                                                            },
                                                            "Date": {
                                                                "type": "string"
                                                            },
                                                            "Language": {
                                                                "type": "string"
                                                            },
                                                            "MyDate": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "Parse_only_channel_0": {
                                                "runAfter": {
                                                    "Get_only_channel_0_results": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('Get_only_channel_0_results')",
                                                    "schema": {
                                                        "properties": {
                                                            "AudioFileResults": {
                                                                "items": {
                                                                    "properties": {
                                                                        "AudioFileName": {
                                                                            "type": "string"
                                                                        },
                                                                        "AudioFileUrl": {},
                                                                        "AudioLengthInSeconds": {
                                                                            "type": "number"
                                                                        },
                                                                        "CombinedResults": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "ChannelNumber": {},
                                                                                    "Display": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "ITN": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "Lexical": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "MaskedITN": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "ChannelNumber",
                                                                                    "Lexical",
                                                                                    "ITN",
                                                                                    "MaskedITN",
                                                                                    "Display"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "SegmentResults": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "ChannelNumber": {},
                                                                                    "Duration": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "DurationInSeconds": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "NBest": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "Confidence": {
                                                                                                    "type": "number"
                                                                                                },
                                                                                                "Display": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "ITN": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "Lexical": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "MaskedITN": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "Sentiment": {
                                                                                                    "properties": {
                                                                                                        "Negative": {
                                                                                                            "type": "number"
                                                                                                        },
                                                                                                        "Neutral": {
                                                                                                            "type": "number"
                                                                                                        },
                                                                                                        "Positive": {
                                                                                                            "type": "number"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "Words": {
                                                                                                    "items": {
                                                                                                        "properties": {
                                                                                                            "Confidence": {
                                                                                                                "type": "integer"
                                                                                                            },
                                                                                                            "Duration": {
                                                                                                                "type": "integer"
                                                                                                            },
                                                                                                            "DurationInSeconds": {
                                                                                                                "type": "integer"
                                                                                                            },
                                                                                                            "Offset": {
                                                                                                                "type": "integer"
                                                                                                            },
                                                                                                            "OffsetInSeconds": {
                                                                                                                "type": "number"
                                                                                                            },
                                                                                                            "Word": {
                                                                                                                "type": "string"
                                                                                                            }
                                                                                                        },
                                                                                                        "required": [
                                                                                                            "Word",
                                                                                                            "Offset",
                                                                                                            "Duration",
                                                                                                            "OffsetInSeconds",
                                                                                                            "DurationInSeconds",
                                                                                                            "Confidence"
                                                                                                        ],
                                                                                                        "type": "object"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "Confidence",
                                                                                                "Lexical",
                                                                                                "ITN",
                                                                                                "MaskedITN",
                                                                                                "Display",
                                                                                                "Sentiment",
                                                                                                "Words"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "Offset": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "OffsetInSeconds": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "RecognitionStatus": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "SpeakerId": {}
                                                                                },
                                                                                "required": [
                                                                                    "RecognitionStatus",
                                                                                    "ChannelNumber",
                                                                                    "SpeakerId",
                                                                                    "Offset",
                                                                                    "Duration",
                                                                                    "OffsetInSeconds",
                                                                                    "DurationInSeconds",
                                                                                    "NBest"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "AudioFileName",
                                                                        "AudioFileUrl",
                                                                        "AudioLengthInSeconds",
                                                                        "CombinedResults",
                                                                        "SegmentResults"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@body('Parse_JSON_2')?['resultsUrls']?['channel_0']",
                                                            "@null"
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Parse_JSON_2')?['resultsUrls']?['channel_0']",
                                                "@null"
                                            ]
                                        }
                                    },
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Parse_JSON_2')?['resultsUrls']?['channel_1']",
                                                "@null"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Until": {
                            "actions": {
                                "Delay": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 10,
                                            "unit": "Second"
                                        }
                                    }
                                },
                                "Get_from_API": {
                                    "runAfter": {
                                        "Delay": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "Content-Type   ": "application/json",
                                            "Ocp-Apim-Subscription-Key": "@parameters('CognitiveSecret')"
                                        },
                                        "method": "GET",
                                        "uri": "@{concat('https://',parameters('azureRegion'),'.cris.ai/api/speechtotext/v2.0/Transcriptions/',body('Parse_transcription_ID_and_result_URL')?['id'])}"
                                    }
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "Get_from_API": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_from_API')",
                                        "schema": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "recordingsUrl": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_transcription_ID_and_result_URL": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(body('Parse_JSON')?['status'], 'Succeeded')",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "id": "[concat('/subscriptions/',variables('subscriptionId'),'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/azureblob')]"
                            },
                            "documentdb": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_documentdb_name'))]",
                                "connectionName": "documentdb",
                                "id": "[concat('/subscriptions/',variables('subscriptionId'),'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/documentdb')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}
